/* Write your code here. */

.size-image {
  height: 90px;
  width: 90px;
}
.btn-image {
  border-radius: 20px;
  background-color: rgb(155, 127, 127);
  padding: 40px;
  border: none;
  margin-bottom: 0px;
}
.btn-container {
  margin: 5px;
}
